table {
  border-collapse: collapse;
  width: 60%;
  margin: 40px auto;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

th {
  background-color: #cccccc;
}
